#chart{
    width: 800px;
    height: 400px;
    background-color: #f7f7f7;
    margin: 25px auto;
}

.bar {
    color: green;
    display: inline-block;
    height: 200px;
    width: 50px;
}
