#chart{
    width: 800px;
    height: 400px;
    background-color: #f7f7f7;
    margin: 25px auto;
}

.bar {
    background-color: green;
    display: inline-block;
    margin-right: 5px;
    width: 20px;
}
